*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: Arial, Helvetica, Opens sans-serif;}
nav {list-style: none;}
a {text-decoration: none; cursor: pointer; opacity: 0.9;}
a:houve {opacity: 1;}
body {width: 100%; height: 100%; margin: 0%;}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    }

/* inicio da sessão header */

header .row {
    position: relative;
    display: flex;
    list-style: none;
    gap: 32px;
    height: 80px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

header .row .col nav {
    display: flex;
    padding: 0 20 px;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

header .row .col {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0px 0px 0px 68px;
}

header .row .col img {
    height: 62px;
    margin: 0px 0px 0px -11px;
}

header li {
    margin: 0px 15px;
}

header .row .col li .Home {
    line-height: 1.25;
    font-size: 2rem;
    color: #22aaba;
    letter-spacing: -0.01em;
    font-weight: 600;
}

header .row .col li .AJFreire  {
    line-height: 1.25;
    font-size: 2rem;
    letter-spacing: -0.01em;
    font-weight: 600;
    color: #22aaba;
}

header .row .col li .Seguros {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    font-weight: 600;
    color: #22aaba;
}

header .row .col li .Formularios {
    line-height: 1.25;
    font-size: 2rem;
    letter-spacing: -0.01em;
    font-weight: 600;
    color: #22aaba;
}

header .row .col li .Contato {
    line-height: 1.25;
    font-size: 2rem;
    letter-spacing: -0.01em;
    font-weight: 600;
    color:#22aaba;
}

/*fim da sessão header */ 


/* inicio da sessão cnpj*/

.cnpj {
  height: 500px;
  background: url(/assets/img/bannerjf.png) no-repeat;
  background-size: 100%;
  width: 100%;
}

/* fim da sessão cnpj*/

/* inicio da sessão pj */ 

.pj {
padding: 0px 0px 0px 0px;
margin: -119px 0px 0px 0px;
width: 100%;
}

.pj .container article {
    display: flex;
    background-color: #003d96;
    width: 150%;
    height: 300px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.pj .container article .row {
    width: 100%;
    padding: 0px 0px 0px 60px;
}

.pj .container article .coltex {
}



.pj .container article .coltex h1 {
    font-size: 30px;
    color: #ffff;
    margin: 30px 30px 41px 1px;
    width: 574px;
    padding: 0px 134px 0px 0px;
}

.pj .container article .colform{
    padding: 30px 60px 0px 0px;
}

.pj .container article .colform input {
    width: 100%;
    padding: 0px 0px 3px 0px;
    margin: 4px 154px 15px 0px;
}

.pj .container article .colform button {
    padding: 12px 17px 15px 15px;
    border-radius: 12%;
    background-color: #fec200;
    border: none;
    margin: 4px 2px;
}

.pj .container .row .coltex .epj {
    color: #ffff;
    font-weight: 780;
}

.pj .container .row .coltex .melhor {
    color: #ffff;
    font-weight: 780;
}

.pj .container .row .coltex .preco {
    color: #ffff;
    font-weight: 780;
}


/* fim da sessão pj */ 


/* inicio da sessão cards */ 

.cards .row h1 {
    padding: 60px 0px 47px 0px;
    color: #009ad8;
    letter-spacing: 1.1px;
    font-size: 32px;
    width: 1175px;
}

.cards .container article {

}

.cards .container .row  {
    width: 100%;
}

.cards .container .row .col {
    display: flex;
    justify-content: center;
}

.cards .container .row .col card {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.cards .container .row .col card img {
    border: solid;
}

/* fim da sessão cards */ 


/* inicio da sessão vantagens */ 

.vantagens {

}

.vantagens .container .rowtitulo .coltitulo h1 {
    color: #003d96;
    border-bottom: solid 7px #01b47d;
    padding: 0px 80px 10px 80px;
    margin: 0px 90px 0px 90px;
    font-size: 29px;
    font-weight: 750;
    letter-spacing: 4px;
    height: 80px;
}

.vantagens .container .rowtitulo .coltitulo p {
    color: #003d96;;
    padding: 0px 80px 10px 80px;
    margin: 20px 90px 0px 90px;
    font-size: 21px;
    font-weight: 750;
}
.vantagens .container .rowtitulo {
    width: 100%;
    padding: 0px 80px 10px 80px;
    margin: 0px 0px 0px 0px;
}

.vantagens .container .rowtitulo .coltitulo {
width: 100%;
padding: 42px 90px 0px 90px;
margin: 0px 0px 0px 0px;
text-align: center;
}


.vantagens .container article {
width: 100%;
}

.vantagens .container .rowaumento {
    padding: 50px 0px 50px 0px;
    margin: 50px 0px 50px 65px;
    display: flex;
}

.vantagens .container .rowaumento .col {
    padding: 0px 50px 0px 0px;
    margin: 0px 50px 0px 0px;
    display: table-cell;
    width: 100%;
}



.vantagens .container .rowvalorizacao {
    display: table-cell;
    padding: 0px 0px 0px 1px;
    margin: 0px 0px 0px 1px;
}

.vantagens .container .rowvalorizacao .col {
    padding: 0px 0px 0px 50px;
    margin: 0px 0px 0px 50px;
}

.vantagens .container .rowaumento .col .cardprodutividade { 
    width: 129%;
    padding: 35px 0px 60px 0px;
    margin: 0px 0px 0px 0px;
}

.vantagens .container .rowaumento .col .cardprodutividade h1 { 
    font-size: 20px;
    font-weight: 750;
    color: #003d96;;
    letter-spacing: 1.1px;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

.vantagens .container .rowaumento .col .cardprodutividade p { 
    font-size: 20px;
    font-weight: 500;
    color: #003d96;
    letter-spacing: 1.1px;
}


.vantagens .container .rowaumento .col .cardreducao  { 
    width: 159%;
    padding: 70px 50px 0px 0px;
    margin: 48px 50px 0px 0px;
}

.vantagens .container .rowaumento .col .cardreducao h1 { 
    font-size: 20px;
    font-weight: 750;
    color: #003d96;;
    letter-spacing: 1.1px;
    padding: 21px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.vantagens .container .rowaumento .col .cardreducao p { 
    font-size: 20px;
    font-weight: 500;
    color: #003d96;;
    letter-spacing: 2.1px;
    padding: 30px 0px 40px 0px;
    margin: 0px 0px 0px 0px;
}

.vantagens .container .rowaumento .col .cardreducao img {
    padding: 46px 0px 0px 0px;
    margin: 0px 0px 22px 0px;
    height: 202px;
    width: 80%;
}


.vantagens .container .rowaumento .col .cardturnover { 
    width: 112%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.vantagens .container .rowaumento .col .cardturnover h1 { 
    font-size: 18px;
    font-weight: 750;
    color: #003d96;;
    letter-spacing: 1.1px;
    padding: 50px 0px 0px 0px;
    margin: 50px 0px 0px 0px;
}

.vantagens .container .rowaumento .col .cardturnover p { 
    font-size: 20px;
    font-weight: 500;
    color: #003d96;;
    letter-spacing: 1.1px;
    padding: 25px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}

/* segunda coluna de cards*/ 

.vantagens .container .rowvalorizacao .col .cardvalor { 
    width: 100%;
    padding: 9px 50px 50px 0px;
    margin: 0px 50px 0px 0px;
}

.vantagens .container .rowvalorizacao .col .cardvalor h1 { 
    font-size: 20px;
    font-weight: 750;
    color: #003d96;;
    letter-spacing: 1.1px;
}

.vantagens .container .rowvalorizacao .col .cardvalor p { 
    font-size: 20px;
    font-weight: 500;
    color: #003d96;
    letter-spacing: 1.1px;
}

.vantagens .container .rowvalorizacao .col .carddiadia  { 
    width: 125%;
    padding: 58px 50px 0px 0px;
    margin: 0px 50px 0px 0px;
}

.vantagens .container .rowvalorizacao .col .carddiadia h1 { 
    font-size: 20px;
    font-weight: 750;
    color: #003d96;;
    letter-spacing: 1.1px;
}

.vantagens .container .rowvalorizacao .col .carddiadia p { 
    font-size: 20px;
    font-weight: 750;
    color: #003d96;;
    letter-spacing: 1.1px;
    padding: 30px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.vantagens .container .rowvalorizacao .col .cardqualidade  { 
    width: 100%;
    padding: 32px 50px 0px 0px;
    margin: 0px 50px 0px 0px;
}

.vantagens .container .rowvalorizacao .col .cardqualidade h1 { 
    font-size: 20px;
    font-weight: 750;
    color: #003d96;;
    letter-spacing: 1.1px;
    padding: 22px 0px 40px 0px;
    margin: 0px 0px 0px 0px;
}

.vantagens .container .rowvalorizacao .col .cardqualidade p { 
    font-size: 20px;
    font-weight: 750;
    color: #003d96;;
    letter-spacing: 1.1px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


.vantagens .container .rowvalorizacao .col .cardqualidade img {
    height: 220px;
    padding: 30px 0px 0px 0px;
    margin: 0px 0px 0px -22px;
}

/* fim da sessão vantagens */ 


/* inicio da sessão colmeio */ 

.colmeio {
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}

.colmeio img {
    padding: 0px 49px 0px 69px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}
/* fim da sessão colmeio */ 


/* inicio da sessão button */ 

.botao .container .row {
    width: 50%;
}

.botao .container .row .col button {
    padding: 40px 10px 40px 0px;
    margin: 0px 0px 63px 0px;
    width: 100%;
    background-color: #003d96;
    color: #ffff;
    font-weight: 900;
    font-size: 20px;
}


/* fim da sessão button */ 


/* inicio da sessão Perguntas */ 

.perguntas .container .row  .rowlista {
    padding: auto;
}

.perguntas .container .row .coltitle h1 {
    text-align: center;
    color: #003d96;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin: 0px 0px 36px 0px;
}

.perguntas .container .row .collista h1 { 
    background-color: #003d96;
    color: #ffff;
    font-size: 25px;
    letter-spacing: 1.1px;
    padding: 20px 49px 20px 69px;
    margin: 0px 0px 0px 0px;
}


.perguntas .container .row .collista p { 
    background-color: #22aaba;
    color: #ffff;
    padding: 15px 49px 15px 69px;
    margin: 0px 0px 0px 0px;
    font-size: 21px;
}

.perguntas .container .row .colvidas {
    display: grid;
}

.perguntas .container .row .rowvidas {
    width: 100%;
    padding: 32px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
}

.perguntas .container .row .colvidas h2 { 
    background-color: #003d96;
    color: #ffff;
    font-size: 25px;
    letter-spacing: 1.1px;
    padding: 20px 49px 20px 69px;
    margin: 0px 0px 0px 0px;
}


.perguntas .container .row .colvidas p2 { 
    background-color: #22aaba;
    color: #ffff;
    padding: 2px 82px 15px 42px;
    margin: 0px 0px 0px 0px;
    font-size: 21px;
}

.perguntas .container .row .rowconsulta {
    padding: 15px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
}

.perguntas .container .row .rowconsulta .colconsulta {
    display: grid;
    width: 100%;
}

.perguntas .container .row .colconsulta h3 { 
    background-color: #003d96;
    color: #ffff;
    font-size: 25px;
    letter-spacing: 1.1px;
    padding: 20px 49px 20px 69px;
    margin: 0px 0px 0px 0px;
}


.perguntas .container .row .colconsulta p3 { 
    background-color: #22aaba;
    color: #ffff;
    padding: 3px 81px 16px 60px;
    margin: 0px 0px 0px 0px;
    font-size: 21px;
}

.perguntas .container .row .rowplanos .colplanos {
    display: grid;
}

.perguntas .container .row .rowplanos {
    padding: 15px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
}

.perguntas .container .row .colplanos h4 { 
    background-color: #003d96;
    color: #ffff;
    font-size: 25px;
    letter-spacing: 1.1px;
    padding: 20px 49px 20px 69px;
    margin: 0px 0px 0px 0px;
}


.perguntas .container .row .colplanos p4 { 
    background-color: #22aaba;
    color: #ffff;
    padding: 3px 34px 16px 60px;
    margin: 0px 0px 0px 0px;
    font-size: 19px;
    letter-spacing: 1.1px;
}

.perguntas .container .row .rowreembolso {
    padding: 32px 0px 49px 0px;
    margin: 0px 0px 0px 0px;
}

.perguntas .container .row .rowreembolso .colreembolso {
    display: grid;
}

.perguntas .container .row .colreembolso h5 { 
    background-color: #003d96;
    color: #ffff;
    font-size: 25px;
    letter-spacing: 1.1px;
    padding: 20px 49px 20px 69px;
    margin: 0px 0px 0px 0px;
}


.perguntas .container .row .colreembolso p5 { 
    background-color: #22aaba;
    color: #ffff;
    padding: 3px 34px 16px 60px;
    margin: 0px 0px 0px 0px;
    font-size: 21px;
    letter-spacing: 0.4px;
}

/* fim da sessão Perguntas */ 


/*inicio da footer */ 

.bnt .container .rowbnt {
width: 100%;
}

.bnt .container .rowbnt .colbnt {

}

.bnt .rowbnt .colbnt button {
    padding: 40px 10px 40px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    background-color: #003d96;
    color: #ffff;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2.1px;
}




/*fim footer */ 

